{% extends "rentals/base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'rating.css' %}">
{% endblock %}

{% block content %}



<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Messages</th>
      </tr>
    </thead>
    <tbody>
      {% for message in unread_notifications %}
      <tr class="table-primary">
          <td>{{ message }}</td>
          
          {% if message.status == "completed" %}
            {% if message.booking_request.reviewed == False %}
              <td>
                

                <div class="wrapper">
                  <form method="post" action="/submit_rating">
                    {% csrf_token %}
                    <input type="hidden" name="booking_request_id" value="{{ message.booking_request.id }}">
                    <div class="rating">
                      <input type="number" name="rating" hidden>
                      <i class='bx bx-star star' style="--i: 0;"></i>
                      <i class='bx bx-star star' style="--i: 1;"></i>
                      <i class='bx bx-star star' style="--i: 2;"></i>
                      <i class='bx bx-star star' style="--i: 3;"></i>
                      <i class='bx bx-star star' style="--i: 4;"></i>
                    </div>
                      <input type="submit" value="Submit">
                    </div>
                  </form>
                </div>




              </td>
            {% else %}
              <td>Rating: {{ message.booking_request.rating }}</td>
            {% endif %}
          {% elif message.booking_request.status == "approved" %}
          <td>
            <form method="post" action="/mark_complete">
                {% csrf_token %}
                <input type="hidden" name="booking_request_id" value="{{ message.booking_request.id }}">
                <input type="submit" value="Mark as complete">
            </form>
          </td>
          {% endif %}
      </tr>
      {% endfor %}



      {% for message in read_notifications %}
      <tr class="table-secondary">
          <td>{{ message }}</td>
          

          {% if message.status == "completed" %}
            {% if message.booking_request.reviewed == False %}
              <td>
                


                <div class="wrapper">
                  <form method="post" action="/submit_rating">
                    {% csrf_token %}
                    <input type="hidden" name="booking_request_id" value="{{ message.booking_request.id }}">
                    <div class="rating">
                      <input type="number" name="rating" hidden>
                      <i class='bx bx-star star' style="--i: 0;"></i>
                      <i class='bx bx-star star' style="--i: 1;"></i>
                      <i class='bx bx-star star' style="--i: 2;"></i>
                      <i class='bx bx-star star' style="--i: 3;"></i>
                      <i class='bx bx-star star' style="--i: 4;"></i>
                    </div>
                      <input type="submit" value="Submit">
                    </div>
                  </form>
                </div>








              </td>
            {% else %}
              <td>Rating: {{ message.booking_request.rating }}</td>
            {% endif %}
          {% elif message.booking_request.status == "approved" %}
            <td>
              <form method="post" action="/mark_complete">
                  {% csrf_token %}
                  <input type="hidden" name="booking_request_id" value="{{ message.booking_request.id }}">
                  <input type="submit" value="Mark as complete">
              </form>
            </td>
          {% endif %}
      </tr>
      {% endfor %}
  </tbody>
</table>


{% endblock %}

{% block extra_js %}
    <script src="{% static 'rating.js' %}"></script>
{% endblock %}